
#phoneticTable {
    position: relative;
    width: 100%;
    height: 100%;
    // transform: translateY(-100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.phon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: min-content;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.ipa, .wordex {
    font-family: 'Nunito';
}
