
@mixin myFont {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    color: rgb(226, 226, 226);
}

$typingBoxWidth: 30vw;
$typingBoxHeight: 30vh;
$fontSize: 3vw;

.typingBox {
    width: $typingBoxWidth;
    height: $typingBoxHeight;
    line-height: $typingBoxHeight;
    text-align: center;
    position: fixed;
    z-index: 3;
    transform: translate(50vw - ($typingBoxWidth / 2),60vh  - ($typingBoxHeight / 2));
    background-color: rgb(22,22,22);

    p {
        @include myFont;
        font-size: $fontSize;
    }

}

.IPAWord {
    width: $typingBoxWidth;
    height: $typingBoxHeight;
    text-align: center;
    position: fixed;
    transform: translate(50vw - ($typingBoxWidth / 2),30vh  - ($typingBoxHeight / 2));
    a {
        @include myFont;
        font-size: 4vw;
    }

    :hover {
        cursor: pointer;
    }

    button {
        transform: translateY(-$typingBoxHeight);
    }
}

@mixin key_frame($name: "blink", $duration: 333ms, $count: infinit) {
    @keyframes blink {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes other_anim {
        0% {
            bottom: -20px;
        }
        100% {
            bottom: 0;
        }
    }

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $count;
}

#caret {
    @include key_frame('blink',1s,infinite);
    border-radius: 0.5rem;
    width: $fontSize/10;
    height: $fontSize*1.1;
    opacity: 1;
    background-color: blue;
    translate: $fontSize/20 $fontSize/2;
    display: inline-block;
    top: 1px;
    left:4.5px;
    z-index: 4;
}