@use '../variables';

$wordWidth: 50vw;
$wordHeight: 50vh;

@mixin myFont {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    color: variables.$fontColour;
}

#component {
    width: 100%;
    align-content: flex-start;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: -5vh;
}

.wordGoal 
{
    width: 70%;
    height: 160px;
    text-align: center;
    font-size: min(5vw,4rem);
    @include myFont;
}

#mcBoxes 
{
    width: 70%;
    height: 300px;
    display: grid;
    padding: 2.5%;
    gap: 1.5rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.choiceButton {
    background-color: rgb(40, 40, 40);
    border: 1px solid variables.$honeyYellow;
    @include myFont();
    font-size: 200%;
}