@use 'variables';

.Navigation {
    margin: 0 ;
    width: 100vw;
    height: 5vw;
    background-color: variables.$backgroundGrey;
 

    a {
        font-family: 'Roboto Mono';
        color: variables.$fontColour;
        text-decoration: none;
    }
    fa-icon {
        font-family: 'Roboto Mono';
        color: variables.$fontColour;
        text-decoration: none;
    }
}

