/* You can add global styles to this file, and also import other style files */

@use 'app/variables';

body {
    background-color: variables.$backgroundGrey;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}