<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div style="flex: 50%; margin-left: -10%;">
        <div class="heading">What is this website??</div>
        <p class="textwall">This website is a tool used to help people learn IPA! IPA is the international
            phontetic alphabet, and is used to convert words into the sounds that they make.
            For example, the word "cat" can be pronounced as <b>"kæt"</b>. This can be used to
            learn correct pronounciation in your own language, or to learn another language. With IPA, 
            pronounciation will no longer be a barrier to education.
        </p>
       
    </div>
    <app-table style="flex: 50%; margin-left: 10%; margin-top: -10%;"></app-table>
</div>